* {
    margin: 0;
    padding: 0;
        box-sizing: border-box;
}

.home-page {
    display: grid;
    background: #E6DDF0;
    grid-template-rows:auto auto;
    grid-template-columns: 2fr 1fr;
    min-height: 100vh;
    padding: 20px;
    color: #5B506C;
    gap: 20px;
}

h1 {
    color: #5B506C;
}
.controller-section{
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.readings-section {
   display:grid;
    grid-column: 2;
    grid-row:1 / 3;
}
.reading-section > div {
    flex: 1;
}

.bottom-section {
    display: flex;
    gap:30px;
    grid-column: 1;
    grid-row: 2;
 
}
.bottom-section > div{
    flex: 1;
}

.movement-controls {
    display: flex;
}

.controller-pad-section {
    display: flex;
    gap:20px;
    padding: 20px;  
}

.section{
    background: #C9BEDA;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #D0BFDD;
}

.connection-status-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.route-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.direction-controls {
    position: relative;
    width: 280px;
    height: 150px;
    margin: auto;
}

.vertical-controls {
    position: relative;
    width: 280px;
    height:150px;
    margin: auto;
}

.top-button{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-button{
position: absolute;
bottom:0%;
left: 50%;
transform: translateX(-50%);
}

.right-button{
position: absolute;
right:0%;
top: 33%;
}

.left-button{
position: absolute;
top: 33%;
left: 0;
}

.controller-button{
    border-radius: 15px;
    height: 50px;
    width:100px;
    background-color: #B1A4C3;
    border:1px solid #5B506C;
    color: #5B506C;

}
.controller-button:hover{
    background-color: #5B506C;
    color:#B1A4C3;
    border-color: #B1A4C3;
    border-width: 1px solid black;
}

.flight-metric-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.orientation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.GPS-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.battery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.divider {
    width: 1px;
    height: 150px;
    background-color: #5B506C;
    margin: 0 20px;
}